<h1>Editing Article</h1>

<%= render 'form', article: @article %>

<div class="d-inline-block border-top pt-3 mb-3">
  <%= link_to 'Show', @article, class: 'btn btn-info' %>
  <%= link_to 'List', articles_path, class: 'btn btn-secondary' %>
</div>
