<h1>New Article</h1>

<%= render 'form', article: @article, user_id: current_user.id %>

<div class="d-inline-block border-top pt-3 mb-3">
  <%= link_to 'List', articles_path, class: 'btn btn-secondary' %>
</div>
