// Bootstrap fix for select on Safari
.nav-icon {
  --dark-color: white;
  --light-color: black;
  --fill-opacity: .55;
  --fill-opacity-hover: .75;
  fill-opacity: var(--fill-opacity);
}
.nav-item:hover .nav-icon {
  fill-opacity: var(--fill-opacity-hover);
}
.navbar-dark .nav-icon {
  fill: var(--dark-color);
}
.navbar-light .nav-icon {
  fill: var(--light-color);
}

.form-select {
  -webkit-appearance: none;
}
tr {
  vertical-align: middle;
}
.icon-link {
  text-align: center;
  color: inherit;
  text-decoration: none;
  &:hover &{
    &__icon {
      fill: var(--bs-primary);
    }
    &__text {
      color: var(--bs-primary);
    }
  }
  &__icon {
    margin: 0 auto;
  }
}
.comment__card {
  box-shadow: 1px 1px 20px #ccc;
}