<h1>Editing Category</h1>

<%= render 'form', category: @category %>

<div class="d-inline-block border-top pt-3">
  <%= link_to 'Show', @category, class: 'btn btn-info' %>
  <%= link_to 'List', categories_path, class: 'btn btn-secondary' %>
</div>
